<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    
    
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.jo.HelloServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>gcl</param-value>
        </init-param>

        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>HttpTestServlet</servlet-name>
        <servlet-class>com.jo.HttpTestServlet</servlet-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpTestServlet</servlet-name>
        <url-pattern>/http</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>Step1Servlet</servlet-name>
        <servlet-class>com.jo.book.Step1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Step1Servlet</servlet-name>
        <url-pattern>/book/step1</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Step2Servlet</servlet-name>
        <servlet-class>com.jo.book.Step2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Step2Servlet</servlet-name>
        <url-pattern>/book/step2</url-pattern>
    </servlet-mapping>
</web-app>